---
export interface Props {
    title: string
    level: string
    progress: number
}
const { title, level, progress } = Astro.props
---

<div class="bg-zinc-400/30 rounded-xl gap-1 flex flex-col">
    <div class="p-4 justify-between flex">
        <h2 class="text-lg font-bold">{title}</h2>
        <p>{level}</p>
    </div>
    <meter class="w-full" min="0" low="33" high="66" optimum="80" max="100" value={progress} />
    <div class="p-4">
        <slot />
    </div>
</div>